@import "../Variables";

.infoIcon {
  $iconSize: 22px;

  color: $dark-grayish-blue;

  border: 1px solid $dark-grayish-blue;
  border-radius: 100%;

  width: $iconSize;
  height: $iconSize;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  font-size: 12px;
  font-weight: bold;
}

// progress icon with spin animation
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

.progressIcon {
  $iconSize: 16px;

  display: inline-block;

  border: 2.8px solid $grayish-blue;
  border-right-color: $light-grayish-blue;
  border-radius: 100%;

  width: $iconSize;
  height: $iconSize;

  animation: spin 3s linear infinite;
}

.progressIconLight {
  border-color: $very-light-gray-2;
  border-right-color: $light-blue;
}

.progressIconSm {
  $size: 12px;
  width: $size;
  height: $size;
}

.progressIconLg {
  $size: 26px;
  width: $size;
  height: $size;
}

.socialIcon {
  path {
    fill: $grayish-blue;
  }
}

.socialIcon:hover {
  path {
    fill: $very-dark-desaturated-blue;
  }
}

.btnIcon {
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
