@import "../utils/Variables";
@import "../utils/Mixins";

.panel {
  position: relative;

  max-width: 490px;
  min-height: 430px;

  margin: auto;

  padding: 1.5em;

  h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    margin: 0 0;
  }
}

.header {
  line-height: 1.25em;

  width: 100%;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 500;
  }
}

.footer {
  margin-top: auto;
}

.tradeDetails {
  min-height: 6.5rem;
}

// Particular view ( Step 1 )
.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  border: 1px solid $element-border;
  border-radius: .25rem;

  margin-top: 1.25rem;
  margin-bottom: 1rem;

  &.finalization {
    font-size: 0.75rem;
    min-height: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0;

    @include media-breakpoint-down(md) {
      min-height: 3rem;
      padding: 6px;
    }
  }

  &.transaction {
    position: relative;
    min-height: 0;

    padding: 1rem 1.5rem;
    margin-top: 0;
    margin-bottom: .75rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
      min-height: 3rem;
      padding-bottom: 3rem;
    }
  }

  &.account {
    padding: 1rem;
  }
}

.assets {
  display: flex;
  justify-content: space-between;
}

%errors-base {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: map-get($inputHeight, lg);
  border: 1px solid $button-border-disabled;
  border-radius: .25rem;
  margin-top: 1rem;

  font-size: 12px;

  @include media-breakpoint-down(md) {
    margin: 1rem 0;
    font-size: 10px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 9px;
  }

  &.hidden {
    visibility: hidden;
  }
}

.errors {
  @extend %errors-base;
  color: $errors;
  border-color: $errors;
}

.warnings {
  @extend %errors-base;
  color: #828287;
  border: rgba(88, 88, 95, 0.4) dashed 1px;
}

// Asset Picker


.tradingSide {
  display: inline-flex;
  flex-direction: column;
  max-width: 175px;
}


.swapBtn {
  position: relative;
  bottom: 1.5rem;
  margin: auto .5rem;
  border: 0;

  &:hover, :active {
    background: none !important;
  }

  &:disabled {
    :global(.swap-icon) {
      fill: $disabled;
    }
  }
}

.cornerIcon {
  height: 28px;
  width: 28px;
  border-radius: 100%;
}

.accountIcon {
  padding: unset;
  border-color: $element-border;

  :global(.account-icon-background) {
    fill: transparent;
  }

  &:hover:not(:disabled) {
    :global(.account-icon-background) {
      fill: white;
    }
  }
}

.settingsIcon, .backIcon {
  padding: .25rem;
}

.settingsIcon, .backIcon, .accountIcon {
  background: white;
  border-color: $element-border;

  :global(.cog-wheel-icon), :global(.back-icon), :global(.account-icon-body) {
    fill: $info-label-color;
  }

  &:not(:disabled):hover {
    border-color: #708390;
    background-color: white !important;

    :global(.cog-wheel-icon), :global(.back-icon), :global(.account-icon-body) {
      fill: #708390;
    }
  }

  &:disabled {
    border-color: #D1DEE6;

    :global(.cog-wheel-icon), :global(.back-icon), :global(.account-icon-body) {
      fill: #D1DEE6;
    }
  }
}


.input {
  height: 2rem;

  font-size: .75rem;

  @include media-breakpoint-down(md) {
    font-size: .625rem;
  }

  border: 1px solid $element-border;
  border-radius: .125rem;

  padding: .5rem;

  text-align: center;

  &::placeholder {
    text-transform: uppercase;
    color: #708390;
  }

  &:hover {
    border-color: $button-border-hover;
  }
}

.inputWrapper {
  position: relative;
  color: $white;
}

%inputSuffixPrefix {
  position: absolute;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
  color: $dark-grayish-blue-2;
}

.inputApprox {
  @extend %inputSuffixPrefix;
  left: 1rem;
}

.inputPercentage {
  @extend %inputSuffixPrefix;
  font-size: 12px;
  right: 1rem;
}

.button {
  width: 100%;
}

.tradingAsset {
  width: 100%;
  max-width: 7.75rem;
  margin: auto auto 1rem;
}
