@import "../Mixins";
@import "../Variables";

@mixin button($map) {

  color: map-get($map, color);
  border-color: map-get($map, border-color);
  background-color: map-get($map, bg);

  &:disabled{
    color: map_get($map, color-disabled);
    background-color: map_get($map, bg-disabled);
    border-color: map-get($map, border-color-disabled)
  }

  &:hover:enabled:not(.disabled) {
    color: map-get($map, color-hover);
    background-color: map-get($map, bg-hover);
    border-color: map-get($map, border-color-hover);
  }

  &:focus:enabled:not(.disabled) {
    color: map-get($map, color-focus);
    background-color: map-get($map, bg-focus);
    border-color: map-get($map, border-color-hover);
  }

  &:active:enabled:not(.disabled) {
    color: map-get($map, color-active);
    background-color: map-get($map, bg-active);
    border-color: map-get($map, border-color-active);
  }
}
