@import "../Mixins";
@import "../Variables";
@import "./Buttons.mixins";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: $border-radius;
  cursor: pointer;
  text-transform: capitalize;

  &:hover {
    cursor: pointer;
  }

  &:hover[disabled],
  &:hover.disabled {
    cursor: default;
  }
}

.buttonGroup {
  > .button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }

  > .button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// --------------- color -----------

.primaryOutlined {
  opacity: .99;

  @include button((
    color: $green,
    bg: transparent,
    border-color: $green,

    color-disabled: $lime-green,
    border-color-disabled: $lime-green,

    bg-hover: $light-grayish-cyan,

    bg-active: $very-soft-cyan,
  ));
}

.secondaryOutlined {

  @include button((
    color: $desaturated-dark-blue,
    bg: transparent,
    border-color: $grayish-blue,

    color-disabled: $grayish-blue,
    border-color-disabled: $grayish-blue,

    bg-hover: $light-grayish-blue,

    bg-active: $another-light-grayish-blue,
  ));
}

.dangerOutlined {
  opacity: .99;

  @include button((
    color: $bright-red,
    bg: transparent,
    border-color: $bright-red,

    color-disabled: $very-soft-red,
    border-color-disabled: $very-soft-red,

    bg-hover: $light-grayish-red,
    border-color-hover: $bright-red,

    bg-active: $another-light-grayish-red,
  ));
}

// Used for Grouped Buttons
.greyOutlined {
  font-weight: 500;
  @include button((
    color: $dark-grayish-blue,
    bg: transparent,
    border-color: $another-light-grayish-blue-3,

    bg-hover: $light-grayish-blue,

    bg-active: $another-light-grayish-blue,
  ));
}

.primary {
  opacity: .99;

  @include button((
    color: $white,
    bg: $green,
    border-color: $green,

    bg-disabled: $very-soft-cyan,
    border-color-disabled: $very-soft-cyan,

    bg-hover: $strong-cyan,
    border-color-hover: $strong-cyan,

    bg-active: $dark-cyan,
    border-color-active: $dark-cyan,
  ));
}

.secondary {
  @include button((
    color: $desaturated-dark-blue,
    bg: $light-grayish-blue,
    border-color: $light-grayish-blue,

    color-disabled: $desaturated-dark-blue,
    bg-disabled: $light-grayish-blue,
    border-color-disabled: $light-grayish-blue,

    bg-hover: $another-light-grayish-blue,
    border-color-hover: $another-light-grayish-blue,

    color-active: $very-dark-desaturated-blue,
    bg-active: $another-light-grayish-blue,
    border-color-active: $another-light-grayish-blue
  ));
}


.danger {
  opacity: .99;

  @include button((
    color: white,
    bg: $bright-red,
    border-color: $bright-red,

    bg-disabled: $very-soft-red,
    border-color-disabled: $very-soft-red,

    bg-hover: $vivid-red,
    border-color-hover: $vivid-red,

    bg-active: $strong-red,
    border-color-active: $strong-red,
  ));
}

// ----- size ------
.xs {
  height: 22px;
}

.sm {
  height: 30px;
}

.md {
  height: 38px;
}

.lg {
  height: 48px;
}

.unsized {
  height: auto;
}

.full {
  width: 100%;
  height: 100%;
}

.block {
  display: block;
  width: 100%;
}

// ----------------------- action button ----------------
.actionButton {
  border: none;
  background: none;
  color: $white;
  line-height: 0.5;
  padding: 6px;
  margin: 0;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.closeButton {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  padding: 5px;

  &.dangerOutlined {
    svg {
      fill: $errors;
    }
  }

  &.secondaryOutlined {
    svg {
      fill: $desaturated-dark-blue;
    }
  }
}
