@import "../../utils/Variables";

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input[type="checkbox"] {
    display:none;

    & + span {
      position: relative;
      display: inline-flex;
      align-items: center;
      border-radius: 3px;

      &:before {
        content: "";
        height: 1.25rem;
        width: 1.25rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        margin: 0 14px 0 0;
        background-color: transparent;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB4PSIwLjUiIHk9IjAuNSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiByeD0iMi41IiBmaWxsPSJ3aGl0ZSIgc3Ryb2tlPSIjRDREOUUxIi8+PC9zdmc+);
        background-size: contain;
        background-repeat: no-repeat;
        box-sizing: border-box;
        cursor: pointer;
      }
    }

    &:checked {
      & + span:before {
        border-radius: 3px;
        background-color: $green;
        padding: 4px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNSAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC45MDg4NyA5LjYzNzE3TDEuOTkyOTUgNi42MjcwNUwxIDcuNjQ0ODZMNC45MDg4NyAxMS42OEwxMy4zIDMuMDE3ODFMMTIuMzE0IDJMNC45MDg4NyA5LjYzNzE3WiIgZmlsbD0id2hpdGUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS40Ii8+PC9zdmc+);;
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
      }
    }
  }
}
