.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input[type="checkbox"] {
    display:none;

    & + span {
      position: relative;
      display: inline-flex;
      align-items: center;
      letter-spacing: .4px;

      &:before {
        content: "";
        height: 1rem;
        width: 1rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        margin: 0 14px 0 0;
        background-color: transparent;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB4PSIwLjUiIHk9IjAuNSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiByeD0iMi41IiBmaWxsPSJ3aGl0ZSIgc3Ryb2tlPSIjRDREOUUxIi8+PC9zdmc+);
        background-size: contain;
        background-repeat: no-repeat;
        box-sizing: border-box;
        cursor: pointer;
      }
    }

    &:checked {
      & + span:before {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHJ4PSIzIiBmaWxsPSIjMUFBQjlCIi8+PC9zdmc+);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
