@import "../Mixins";
@import "../Variables";

.inputGroup {
  display: flex;

  & > * {
    border-top: 1px solid $input-border;
    border-bottom: 1px solid $input-border;
  }

  & > *:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: 1px solid $input-border;
  }

  & > *:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 1px solid $input-border;
  }
}

.addon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  font-size: 14px;
}

// ----------- sizes
@include formInputSizes();
.sm, .md {
  .addon, input {
    font-size: 12px;
  }
}

.inputGroupAddonBorderRight {
  border-right: 1px solid;
  border-color: inherit;
}

.inputGroupAddonBorderLeft {
  border-left: 1px solid;
  border-color: inherit;
}

.grey {
  border-color: $input-border;
}

.danger {
  border-color: $red;
}

.disabled {
  border-color: $disabledBorderColor;
  color: $disabledColor;
}
