@import "../Variables";
@import "../Mixins";

$panel-padding-horizontal: 16px;
$panel-padding-vertical: 12px;
$panel-background: $white;
$panel-border: $element-border;


// panel
.panel {
  background-color: $panel-background;
  border: 1px solid $panel-border;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;

  margin-bottom: 24px;
}

.panelWithFooterBordered {
  $paddingFooterBottom: 18px;
  padding-bottom: $paddingFooterBottom + 1px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: $paddingFooterBottom;
    width: 100%;
    height: 0;
    border-top: 1px solid $panel-border;
  }
}

// panel header
.panelHeader {
  display: flex;
  align-items: center;
  padding: $panel-padding-vertical $panel-padding-horizontal;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
  color: $very-dark-violet;
  min-height: 64px;
  border-bottom: 1px solid $panel-border;

  @include media-breakpoint-down(md) {
    font-size: 14px;
    line-height: 18px;
    padding: 14px 16px;
    height: 58px;
  }
}

.panelHeaderBordered {
  padding-bottom: $panel-padding-vertical - 1px;  // adding border makes header 1px higher,
                                                  // so subtract this 1px from bottom padding
}

// panel body
.panelBodyHorizontal {
  padding-left: $panel-padding-horizontal;
  padding-right: $panel-padding-horizontal;
}

.panelBodyBottom {
  padding-bottom: $panel-padding-horizontal;
}

.panelBodyTop {
  padding-top: $panel-padding-horizontal;
}

.panelBodyScrollable {
  overflow-x: auto;
}

// panel footer
.panelFooter {
  padding: 10px $panel-padding-horizontal $panel-padding-horizontal;
}

.panelFooterBordered {
  border-top: 1px solid $grey-light;
}

// panel position placement

// positioning

.topRightCorner {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
}

.topLeftCorner {
  position: absolute;
  top: 1.2rem;
  left: 1.5rem;
}

