@import "../Mixins";

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.inline {
  display: inline-flex;
  align-items: center;
}

// block version elements
.icon {
  display: inline-flex;
  margin-right: 0.5rem;
  color: $grayish-blue;
}

.mainInfo {
  display: flex;
  align-items: center;
  color: $very-dark-grayish-blue;
}

.annotate {
  margin-top: 0.8em;
  font-size: 14px;
  color: $grey-lightest;
}

.link {
  color: $light-blue;
  text-decoration: underline;
}
