@import "../utils/Variables";
@import "../utils/Mixins";
@import "../header/Header";

.container {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid $element-border;
  border-radius: $border-radius;
  width: 100%;
  max-width: 24.25rem;
  height: 20rem;
  font-size: 15px;
  line-height: 1.5rem;
  margin: 0 1.5rem;
  padding: 2rem 1.5rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @include media-breakpoint-down($header-media-breakpoint) {
    height: 19.5rem;
  }

  @include media-breakpoint-down(600px) {
    height: 15.5rem;
    font-size: 13px;
    padding: 1rem;

    margin: 0;
  }

  @include media-breakpoint-down(400px) {
    height: 18rem;
  }
}

.title {
  font-size: 15px;
  margin: 0 0 1.25rem;
  font-weight: 600;

  @include media-breakpoint-down(600px) {
    font-size: 13px;
    margin-bottom: .625rem;
  }
}

.description {
  display: block;
  font-weight: 500;
  margin: 0 0 1.25rem;

  @include media-breakpoint-down(600px) {
    margin-bottom: .625rem;
  }
}

.data {
  font-weight: 500;
  color: $light-blue;
  margin-top: auto;
  margin-bottom: 1rem;

  @include media-breakpoint-down(600px) {
    margin-bottom: .75rem;
  }
}

.actionBtn {
  height: 2.125rem;
  width: 100%;
  max-width: 170px;
  font-size: 14px;
  font-weight: 600;

  @include media-breakpoint-down(600px) {
    max-width: unset;
  }
}
