@import "../utils/Mixins";
@import "../utils/forms/Buttons.mixins";
@import "../utils/Variables";
@import "../header/Header";

@include modal();

.redeemBtn {
  margin-right: 1rem;
  padding: 0 1rem;

  @include button((
    color: $white,
    bg: $vivid-orange,
    border-color: $vivid-orange,

    bg-hover: $bright-orange,
    border-color-hover: $bright-orange
  ));

  @include media-breakpoint-down($header-media-breakpoint) {
    height: 32px;
    margin-right: .5rem;
    padding: 0 .5rem;
    font-size: 13px;
  }
}

.modalChild {
  width: 100%;
  max-width: 650px;
}

.modalButtonsPlaceholder {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    max-width: 100px;
  }
}
