@import "../utils/Variables";
@import "../utils/forms/Buttons";
@import "../header/Header";

.table {
  th {
    font-weight: 600;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      font-size: 10px;
    }
  }

  th, td {
    font-variant-numeric: tabular-nums;
    
    &:first-child {
      padding-left: 28px;

      @include  media-breakpoint-down(md) {
        padding-left: 16px;
      }
    }
  }

  th:nth-child(2) {
    padding-left: 16px;
  }


  .center {
    text-align: center;
  }

  .amount {
    text-align: right;
  }

  td {
    @include media-breakpoint-down(md) {
      font-size: 11px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 9px;
    }
  }

  // align tokens icons so they look like they
  // aligned to left with column name "Asset"
  td:nth-child(2) {
    padding-left: 12px;
  }

  // those columns contains tall elements,
  // so they must have smaller padding
  // to have row height about 32px
  td:nth-child(2),
  td:nth-child(3) {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  td:nth-child(4) {
    padding-top: 0;
    padding-bottom: 0;

    @include media-breakpoint-down(sm){
      padding-left: 0;
    }
  }
}

.centeredAsset {
  display: inline-flex;
}

.assetIcon {
  margin-right: 4px;
}

.transferBtn {
  background-color: transparent;
  border: 1px solid $element-border;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &:hover[disabled],
  &:hover.disabled {
    cursor: default;
  }

  @extend .secondary;
}

.transferBtnLeft {
  transform: rotate(180deg);
  margin-right: 5px;
}

.wrapUnwrapBtn {
  @include media-breakpoint-down(lg) {
    font-size: 11px;
  }

  @include media-breakpoint-down(md){
    width: 72px;
    height: 20px;
    font-size: 9px;
  }
}

.redeemBtn {
  @extend .wrapUnwrapBtn;
  width: 100%;
  height: 22px;

  @include media-breakpoint-down($header-media-breakpoint) {
    height: 22px !important;
    font-size: 11px !important;
  }

  @include media-breakpoint-down(md){
    width: 72px;
    height: 20px !important;
    font-size: 9px !important;
  }
}
