@import "../utils/Mixins";

$primaryFontColor: $very-dark-violet;
$secondaryFontColor: $very-dark-grayish-blue;

.taxExporterDescription {
  flex-grow: 1;
  font-size: 14px;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  color: $secondaryFontColor;

  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }

  span {
    color: $primaryFontColor;
    display: block;
    font-size: 15px;
    margin-bottom: 8px;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
}

.taxExporterPanelBody {
  display: flex;
  width: 100%;
}

.taxExporterButton {
  margin-top: 8px;
  padding: 5px .833em;

  @include media-breakpoint-down(sm) {
    margin-top: 0;
    align-self: center;
  }
}

.progressIcon {
  position: relative;
  width: 14px;
  height: 14px;
  top: 2px;
  margin: 0 25px;
}
