@import "../../utils/Variables";
@import "../../utils/Mixins";

// panel size
.depthChartWithLoading {
  width: 508px;
  @include media-breakpoint-down(lg) {
    width: 100%;
  }

}

// general depth chart style
.depthChart {
  position: relative;
  display: inline-block;
}

// chart colors
.sellChart {
  fill: $soft-red-2;
  background-color: $soft-red-2;
}

.sellChartDark {
  fill: $orange;
  background-color: $orange;
}

.buyChart {
  fill: $strong-cyan-2;
  background-color: $strong-cyan-2;
}

.buyChartDark {
  fill: $green;
  background-color: $green;
}

.hidden {
  visibility: hidden;
}

// Axis main label class is uased as equivalent of
// :global(.tick)
.axisMainLabel {
  font-weight: 700;
  color: $grey-lightest;
}

.axisLineMain {
  stroke: $another-light-grayish-blue-3;
  stroke-width: 2px;
}

.axisLineAdditional {
  stroke: $another-light-grayish-blue-3;
  stroke-width: 1px;
}

.axisYLineAdditional {
  stroke: $grayish-blue;
  stroke-width: 0.5;
}

.axisYTokenLabel {
  font-weight: 600;
  color: $grey-lightest;
  font-size: 10px;
}

// info box styles
.infoBox {
  background-color: white;
  border: 1px solid $orange;
  display: table;
  font-size: 10px;
  padding: 8px;
  position: absolute;
}

.infoBoxRed {
  border-color: $orange;
  stroke: $orange
}

.infoBoxGreen {
  border-color: $green;
  stroke: $green;
}

.sellText {
  color: $red;
}

.buyText {
  color: $strong-cyan-2;
}

.infoSummary {
  display: table-row;
}

.infoSummaryLine {
  //width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  display: table-cell;
  white-space: nowrap;

  &:first-child {
    padding-right: 10px;
  }
}

.infoSummaryLegendImg {
  margin-right: 8px;
  margin-top: 3px;
}

.legendImg {
  height: 9px;
  width: 12px;
}

.smallLegend {
  align-items: center;
  background-color: white;
  border: 1px solid $grayish-blue;
  border-radius: 2px;
  display: inline-flex;
  justify-content: flex-end;
  font-size: 10px;
  padding: 4px 6px;
  position: absolute;
}

.dotGlow {
  fill: rgba(white, 0.1);
}

.dotSell {
  fill: white;
  stroke-width: 1.5;
  stroke: $orange;
}

.dotBuy {
  fill: white;
  stroke-width: 1.5;
  stroke: $green
}
