@import "../../utils/Mixins";
@import "../../utils/Variables";

.entry {
  display: flex;
  width: 100%;
  max-width: 12rem;
  justify-content: space-between;
  align-items: center;

  &.reversed {
    .label {
      color: $very-dark-violet;
    }

    .value {
      color: $dark-grayish-blue;
    }
  }

  @include media-breakpoint-down(md) {
    max-width: none;
  }
}

.label {
  font-size: 12px;
  color: $dark-grayish-blue;
}

.value {
  font-size: 12px;
  color: $very-dark-violet;
  text-align: right;
}
