@import "../../utils/Variables";
@import "../../utils/Mixins";

$chart-label: $dark-grayish-blue;

// chart colors
.fallBar,
.fallStick {
  fill: $red;
  background-color: $red;
}

.riseStick {
  fill: $green;
  background-color: $green;
}

.riseBar {
  fill: $light-grayish-cyan-2; // equals rgba($green, 0.1), but without opacity;
  background-color: $light-grayish-cyan-2; // equals rgba($green, 0.1), but without opacity;
  stroke: $green;
  stroke-width: 1;
}

.equal {
  fill: $grey-lightest;
  background-color: $grey-lightest;
}

.volume {
  fill: $light-grayish-blue;
  background-color: $light-grayish-blue;
}

// bands
.bands rect {
  fill: darkgrey;
  fill-opacity: 0.3;
  stroke-opacity: 0;
  pointer-events: all;
  shape-rendering: crispEdges;
}
.bands .hoved {
  fill-opacity: .6;
}

:global(.candles) .hoved {
  stroke-width: 2;
  &.riseBar {
    stroke: saturate($green, 30%);
  }
  &.fallBar {
    stroke: $very-light-red;
  }
  &.equal {
    stroke: $grey-lightest;
  }
}

:global(.sticks) .hoved {
  &.riseStick {
    stroke: saturate($green, 20%);
  }
  &.fallStick {
    stroke: $very-light-red;
  }
}

:global(.volume) .hoved {
  fill: $grey-light;
}

// Axis main label class is uased as equivalent of
// :global(.tick)
.axisYMainLabel {
  font-weight: 600;
  font-size: 12px;
  color: $chart-label;
}

.axisYVolumeLabel {
  color: $chart-label;
  font-size: 12px;
}

.axisXMainLabel {
  color: $chart-label;
  font-size: 12px;
}

.axisLineMain {
  stroke: $element-border;
  stroke-width: 1px;
}

.axisYVolumeLineMain {
  stroke-linecap: round;
}

.axisLineGrid {
  stroke: $another-light-grayish-blue-4;
  stroke-width: 1px;
}

// Info box for price chart
.infoBox {
  position: absolute;
  left: auto;
  top: 0;

  background-color: white;
  font-size: 10px;
  padding: 2px 3px;

  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  max-width: 440px;
}

.infoBoxItem {
  width: 200px;

  @include media-breakpoint-down(md) {
    width: auto;
  }

  @include media-breakpoint-down(sm) {
    font-size: 9px;
  }
}
